html,body{
  height:100%;
  margin-right: 90px;
  margin-left: 90px;
  margin-bottom: 90px;
  margin-top: 40px;
  background-color: lightcoral;
  font-size: 24px;
  padding-bottom: 9px;

  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

  }