html,body{


    height: 100%; 
    margin-right: 90px; 
    margin-bottom: 90px; 
    margin-bottom: 90px; 
    background-color: lightseagreen;


    h1 {
        text-align: center; 
        font-size: 24px; 
    }




}