html,body{
  height:100%;
  background:lightblue;
  }
  
  *{
  margin:0;
    padding:0;
  }
  .wrapper{
  height:100%;
    overflow:hidden;
  }
  .header {
    top:0;
    height: 100px;
    background:black;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  .sidebar {
    width: 170px;
    float: left;
    min-height:100%;
    background:grey;
    text-align: center;
    font-size: 22px; 
    text-decoration: none;
  }
  .main {
    margin-left: 300px;
    margin-right: 300px;
    min-height:100%;
    background: lightblue;
    text-align: left;
    font-size: 18px;

   }
  